@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    font-family: "Roboto", sans-serif;

}

.app-content {
    width: min(100%-2rem, 1400px);
    margin-inline: auto;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 1fr;
}
.cv-form-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
}
.cv-preview{
    width: 100%;
    padding: 1rem;
}
@media (min-width:1024px) {
    .app-content {
        grid-template-columns: 1fr 1fr;

    }
}